body {
  margin: 0;
  padding: 70px;
  position: relative;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.welcome { 
    width: 400px;
    border-radius: 7px;
    border: 3px solid #fea5be;
    padding: 10px;
    background-color: #ffe0e6;
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

.pic1 { 
    width: 300px;
    border: 3px solid #fea5be;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 44px;
}

.pic3 { 
    width: 300px;
    border: 3px solid #fea5be;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 44px;
}

#top {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 140px;              
z-index: 100;
backdrop-filter: blur(10px);
background-color: rgba(0, 0, 0, 0.25);
justify-content: space-evenly;
border-bottom: 0.5px solid #fea5be;
}


.head {
 position: absolute;
 display:flex;
 flex-direction: column;
 left: 43%;
 padding: 0;
}
 

#welcomeheader, #albumswindowheader, #aboutheader, #accomplishmentsheader, #importanceheader {
    font-size: 2rem;
    margin-top: 0;
}

#welcomeclose {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background-color: #ce491c;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  }

#welcomeopen {
  z-index: 4;
  cursor: pointer;
  background-color: #ffecee;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width:7.5rem;
  height: 1.2rem;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #002f4f;
  margin: 3px;
  }

  .albumicon-img {
  cursor: pointer;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
    }

.albumswindow {
  position: absolute;
  top: 200px;
  z-index: 4;
  cursor: pointer;
  background-color: #ffe0e6;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width:1000px;
  height: auto;
  padding: 10px;
  font-weight: 700;
  color: #002f4f;
  display: none;
  }

  #albumswindowClose {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background-color: #ce491c;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  }

  .albumcover {
display: block;
  width: 100%;
  border-radius: 12px;
   }

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.about { 
    width: 400px;
    border-radius: 7px;
    border: 3px solid #fea5be;
    padding: 10px;
    background-color: #ffe0e6;
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    display: none;
    padding-bottom: 20px;
}

#aboutclose {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background-color: #ce491c;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  }

#aboutopen {
  z-index: 4;
  cursor: pointer;
  background-color: #ffecee;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width:7.5rem;
  height: auto;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #002f4f;
  margin: 3px;
  }

.pic2 { 
  position:relative;
  left: 44px;
    width: 300px;
    border: 1px #ffecee;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    border: 3px solid #fea5be;
}

.app-name {
  position: absolute;
  top: 70px;
  left: 17px;
  font-size: 1rem;
}

.accomplishments { 
    width: 400px;
    border-radius: 7px;
    border: 3px solid #fea5be;
    padding: 10px;
    background-color: #ffe0e6;
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    display:none;
}

#accomplishmentsclose {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background-color: #ce491c;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  }

  #accomplishmentsopen {
  z-index: 4;
  cursor: pointer;
  background-color: #ffecee;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width:7.5rem;
  height: auto;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #002f4f;
  margin:3px;
  }

  .pic4 { 
  position:relative;
  left: 44px;
    width: 300px;
    border: 1px #ffecee;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    border: 3px solid #fea5be;
}

.Importance { 
    width: 400px;
    border-radius: 7px;
    border: 3px solid #fea5be;
    padding: 10px;
    background-color: #ffe0e6;
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    display:none;
}

#importanceclose {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background-color: #ce491c;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  }

.sidebar {
  border-radius: 12px;
  border: 3px solid #fea5be;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 150px;
  position:fixed;
  top: 250px;
  right: 30px;
  display: flex;
  flex-direction: column;
  }

  #importanceopen {
  z-index: 4;
  cursor: pointer;
  background-color: #ffecee;
  border: 3px solid #fea5be;
  border-radius: 10px;
  width:7.5rem;
  height: auto;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #002f4f;
  margin:3px;
  }